
@main(title="Help") {
	<div class="span6 offset3">
		<h2>How do I find my Steam ID?</h2>
		<div class="row" style="text-align:center">
			<img src="@routes.Assets.at("images/kid.jpg")" class="img-rounded"/>
		</div>
		<div class="row">
			<p>Go to <a href="http://steamcommunity.com/">http://steamcommunity.com/</a> and log on.
			Once you log on you'll see your URL change to http://steamcommunity.com/id/YOURID/home.
			The part after /id/ is your steam id.</p>
		</div>
		<div class="row" style="text-align:center">
			<a href="/" class="btn btn-large">Back</a>
		</div>
	</div>
}