@(message: String)(recomForm: Form[SteamIdForm])

@import helper._

@main(title="Play with friends") {
	<div class="span6 offset3">
		<h1>What can you play with your Steam friends?</h1>
		<h4>Find out what game you should play with your Steam friends.</h4>
		@form(action = routes.RecomController.getRecommendations, args = 'id  -> "recomForm") {
			<div class="row" style="text-align:center">
				@helper.input(recomForm("steamId"), '_label -> "", 
								'_showConstraints -> false
								) {(id, name, value, args) =>
							<div class="input-append">
								<input type="text" name="@name" id="@id" @toHtmlArgs(args) placeholder="Enter Steam ID">
								<a href="/help" class="btn">?</a>
							</div>
		  				}
		  	</div>
		  	<div class="row" style="text-align:center">
		  		<button class="btn btn-primary btn-large" type="Submit">What should we play?</button>
		  		<!-- <a href="#" onClick="submitRecom()" class="btn btn-primary btn-large">What should we play?</a> -->
	  		</div>
	  			
	  			
		}
	</div>
}