@(title: String)(user: String);

@main(title="Login") {
      <div class="container-fluid">
      	<div class="row-fluid">
      		<div class="span2">
      			@if(user != null && (!user.isEmpty())) {
       			<h5>Hi, @user!</h5>
       		}
      			<h5>Todo list</h5>
      			<ul>
      				<li>Steam integration</li>
      				<li>User account</li>
      				<li>mobile integration</li>
      			</ul>
      			@if(user != null && (!user.isEmpty())) {
      				<a href="/logout" class="btn btn-primary">Logout</a>
      			}
      		</div>
      		<div class="span10">
	        <form>
	        	<fieldset>
	        		<legend>Play Date</legend>
	        		@if(user == null || (user.isEmpty())) {
	        			<button class="btn btn-large btn-primary" type="button" onClick="document.location='startLogin'">Login</button>
		        		<button class="btn btn-large btn-primary" type="button" onClick="document.location='register'">Register</button>
		        	}
	        	</fieldset>
	        </form>
        </div>
       </div>
      </div>
}