@(user: String)(message: List[String])(recoms: List[SteamRecommendation])

	<h1>What you should play</h1>
	<!-- @if(message != null) {
		@for(msg <- message) {
			<h3>@msg</h3>
		}
	}-->
	@if(recoms != null) {
		<table class="table table-striped">
			<tr>
				<td>Game</td>
				<td>Friends</td>
			</tr>
			@for(recom <- recoms) {
				<tr>
					<td>@recom.getGame().name</td>
					<td>
						<div>
							@for(friend <- recom.getFriends()) {
								<div style="float: left; text-align: center; padding: 0px 5px 0px 5px">
									<img src="@friend.avatarMedium" alt="@friend.steamId"/>
									<br>
									<div class="label">@friend.steamId</div>
								</div>
							}
						</div>
					</td>
		  		</tr>
			} 
		</table>
	}
	<a href="/" class="btn">Back</a>
